@charset "utf-8";
/*Downloaded from http://www.freefontsdownload.net*/
@font-face {
    font-family: ArialN;
    src: url('../fonts/AN/ARIALN.TTF');
}
/*Downloaded from https://www.download-free-fonts.com/*/
@font-face {
    font-family: ArialR;
    src: url('../fonts/AB/arlrdbd.ttf');
}

/*entire document style*/
:root {
  max-width: 100%;
  overflow-x: hidden;
}

/*Nav bar styles*/
#navbar {
  background-color: #EBEBEB;
}

#navbar_items > li {
  font-family: "ArialN", Arial;
}

#navbar_items > li:hover {
  transform:scale(1.2)
}

/*Intro styles*/
#intro {
  font-family: "ArialR", Arial;
}

/*Card1 styles*/
/*Added property to ensure flipping card takes 3s and that effect is preserved*/
#card1Content {
  position: relative;
  padding: 15em 5em;
  transition-duration: 3s;
  transform-style: preserve-3d;
}

#card1Content:hover {
  transform: rotateY(.5turn);
}

/*Added property to hide content if its flipped to the opposite side*/
#card1Front,
#card1Back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#card1Front {
  /*Downloaded from https://www.pexels.com/photo/robot-pointing-on-a-wall-8386440/ (Tara Winstead)*/
  background-image: url("../img/ai.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  color: #EBEBEB;
  font-family: "ArialR", Arial;
}

/*Arrange the card text portions at different z-indexes to stand out*/
#card1Title {
  transform: translateZ(9rem);
  font-size: 3rem;
}

#card1Subtitle {
  transform: translateZ(6rem);
}

#card1Body {
  transform: translateZ(6rem);
  line-height: 1.6;
}

#card1Back {
  transform: rotateY(.5turn);
  color: #EBEBEB;
  background: #000B4F;
  font-family: "ArialN", Arial;
}

/*Card2 styles*/
#card2Content {
  position: relative;
  padding: 15em 5em;
  transition-duration: 3s;
  transform-style: preserve-3d;
}

#card2Content:hover {
  transform: rotateY(.5turn);
}

#card2Front,
#card2Back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#card2Front {
  /*Downloaded from https://www.pexels.com/photo/data-codes-through-eyeglasses-577585/ (Kevin Ku)*/
  background-image: url("../img/codeSpecs.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  color: #EBEBEB;
  font-family: "ArialR", Arial;
}

#card2Title {
  transform: translateZ(9rem);
  font-size: 3rem;
}

#card2Subtitle {
  transform: translateZ(6rem);
}

#card2Body {
  transform: translateZ(6rem);
  line-height: 1.6;
}

#card2Back {
  transform: rotateY(.5turn);
  color: #EBEBEB;
  background: #20368F;
  font-family: "ArialN", Arial;
}

/*Card3 styles*/
#card3Content {
  position: relative;
  padding: 15em 5em;
  transition-duration: 3s;
  transform-style: preserve-3d;
}

#card3Content:hover {
  transform: rotateY(.5turn);
}

#card3Front,
#card3Back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#card3Front {
  /*Downloaded from https://www.pexels.com/photo/semi-opened-laptop-computer-turned-on-on-table-2047905/ (Junior Teixeira)*/
  background-image: url("../img/laptop.jpg");
  background-size: cover;
  background-blend-mode: lighten!important;
  color: #EBEBEB;
  font-family: "ArialR", Arial;
}

#card3Title {
  transform: translateZ(9rem);
  font-size: 3rem;
}

#card3Subtitle {
  transform: translateZ(6rem);
  color: #EBEBEB;
}

#card3Body {
  transform: translateZ(6rem);
  line-height: 1.6;
}

#card3Back {
  transform: rotateY(.5turn);
  color: #EBEBEB;
  background: #829CD0;
  font-family: "ArialN", Arial;
}

/*Footer styles*/
#footer {
  background-color: #323232;
  color: #EBEBEB;
}

.footer_text {
  font-family: "ArialN", Arial;
  color: #EBEBEB;
}

#insta {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#insta:hover {
  transform: scale(1.3);
}

#twitter {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#twitter:hover {
  transform: scale(1.3);
}

#facebook {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#facebook:hover {
  transform: scale(1.3);
}

#dribbble {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#dribbble:hover {
  transform: scale(1.3);
}

#copyright_text {
  font-size: 0.7em;
}